<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/header.css">    
    <link rel="stylesheet" href="/modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="/modules/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css">
</head>

<body>
    <%- include header.ejs %>
    <div class="container">
        <div class="row" id="row-main">
        <% if(data && data.script) { %>  
            <div class="col-md-12" id="content">
                <h2>Update Ad</h2>                
                <form id="updateForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <label for="">Active</label>
                            </td>
                            <td>
                                <input type="checkbox" name="active" id="active" <%=data.active ? 'checked' : '' %>>
                                <label for="">Make Ad Active</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Ad Name</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" value="<%=data.name %>" placeholder="My Advertisment">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <div style="margin-left: 10px;width:100%;margin:0 auto;">
                        <button type="button" class="btn btn-warning" onclick="collapse()" >Click for Demo</button>
                    </div>
                    <br>
                    <br>
                    <div class="form-group" style="padding-left:10px;">
                        <label for="">Ad Script</label>
                        <div id="edit">
                        </div>
                    </div>                                               
                    <p style="width:20%">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update" />
                        <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel">
                    </p>
                </form>
                <br>                
            </div>                                   
            <% } else { %>   
                <div class="col-md-12" id="content">
                    <h2>Create Ad</h2>
                    <div class="row">
                        <form id="postForm">
                            <table id="post-table">
                                <tr>
                                    <td>
                                        <label for="">Active</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="active" id="active">
                                        <label for="">Make Ad Active</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="">Ad Name</label>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" id="name" class="form-control" placeholder="My Advertisment">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <div style="margin-left: 10px;width:100%;margin:0 auto;">
                                <button type="button" class="btn btn-warning" onclick="collapse()">Click for Demo</button>
                            </div>
                            <br>
                            <br>
                            <div class="form-group" style="padding-left:10px;">
                                <label for="">Ad Content</label>
                                <div id="edit">
                                </div>
                            </div>                    
                            <p style="width:20%">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="POST" />
                                <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel" onclick="cancel()">
                            </p>
                        </form>
                        <br>
                    </div>
                </div>                                               
                <% } %>      
            <div class="col-md-4 collapsed" id="sidebar">  
                <div>
                    <div id="mobile" class="mobile">
                        <div id="mob-content" style="padding:8px;">
                        </div>
                    </div>
                    <br><br>
                    <button type="button" class="btn btn-info" onclick="demoCheck()">Refresh</button>
                </div>
            </div>
            <div id="myid" style="display:none">
                <%= data.script %>
            </div> 
        </div>
        <br><br><br>
    </div>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/modules/toastr/build/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.min.js"></script>
<script>
    $("#cancel").on("click", cancel);

    function cancel() {
        window.location.href = '/ad/show';
    }   

    function decode() {
        var decoded = $('#myid').html();
        var e = document.getElementById('myid');
        var decoded = $('#myid').html(decoded).text();
        return decoded;
    }   

    function collapse(){
        $("#sidebar").toggleClass("collapsed");
        $("#content").toggleClass("col-md-12 col-md-8");
        demoCheck();
    }

    function demoCheck(){
        var temp = $('#edit').summernote('code');
        $('#mob-content').html(temp);
    }

    $(document).ready(function () {
        var path = window.location.href;

        if (!window.localStorage.getItem('loggedIn')) {
            window.location.replace('/login');
        }

        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            } else {
                $('#ad').addClass('active');
            }
        });       

        $('#edit').summernote('code', decode());
               
    });    
     
    $('div#edit').summernote({
        height: 300
    });

    $('#postForm').submit(function (e) {
        showLoader();
        e.preventDefault();  
        var name = $('#name').val(); 
        if(!name){
            hideLoader();
            toastr.error("Please enter Ad name");
            return false;
        }
        if (!$('#edit').summernote('code')) {
             hideLoader();
             toastr.error("Please enter Ad content");
             return false;
        }             
        var active = $('#active').is(":checked");
        var formData = {};               
        formData.script = $('#edit').summernote('code');
        formData.active = active;
        formData.name = name;
        var data = {
            ad: formData
        }
        $.ajax({
            type: 'POST',
            url: '/ad/create',
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Ad Created Successfully");
                window.location.replace("/ad/show");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.statusText);
            }
        })
    });

    $('#updateForm').submit(function (e) {
        showLoader();
        e.preventDefault();
        var name = $('#name').val();
        if (!name) {
            hideLoader();
            toastr.error("Please enter Ad name");
            return false;
        }
        if (!$('#edit').summernote('code')) {
             hideLoader();
             toastr.error("Please enter Ad content");
             return false;
        }     
        var active = $('#active').is(":checked");
        var formData = {};
        formData.script = $('#edit').summernote('code');
        formData.active = active;
        formData.name = name;
        var data = {
            ad: formData
        }       
        $.ajax({
            type: 'PUT',
            url: '/ad/update/' + "<%= data._id %>",
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Ad Updated Successfully");
                window.location.replace("/ad/show");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.statusText);
            }
        })
    });
</script>

</html>