<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/header.css">
</head>

<body>
    <%- include header.ejs %>
    <% if(!data.name){ %>
        <div class="container">
            <h2>Create Category</h2>
            <div class="row">
                <form id="categoryForm">
                    <table id="post-table">                                                
                        <tr>
                            <td>
                                <label for="">Category Name</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="Name">
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                <label for="">Active</label>
                            </td>
                            <td>
                                <input type="radio" name="active" value="true" style="margin-right:10px;">Active
                                <br>
                                <br>
                                <input type="radio" name="active" value="false" style="margin-right:10px;">Not Active
                            </td>
                        </tr>                      
                    </table>
                    <br>
                    <p>
                        <input type="submit" class="btn btn-primary btn-sm btn-block" value="Create Category" />
                        <input type="button" id="cancel" class="btn btn-default btn-sm btn-block" value="Cancel" />
                    </p>
                </form>
            </div>
        </div>
    <% } else { %>
        <div class="container">
            <h2>Edit Category</h2>
            <div class="row">
                <form id="editForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <label for="">Category Name</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="Name" value=<%= data.name %>>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Active</label>
                            </td>
                            <td>
                                <input type="radio" name="active" value="true" style="margin-right:10px;" <%= data.active ? 'checked' : '' %>>Active
                                <br>
                                <br>
                                <input type="radio" name="active" value="false" style="margin-right:10px;" <%= !data.active ? 'checked' : '' %>>Not Active
                            </td>
                        </tr>
                    </table>
                    <br>
                    <p>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update Category" />
                        <input type="button" id="cancel" class="btn btn-default btn-lg btn-block" value="Cancel" />
                    </p>
                </form>
            </div>
        </div>
    <% } %>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/modules/toastr/build/toastr.min.js"></script>
<script>
    $(document).ready(function () {
            var path = window.location.href;
            if (!window.localStorage.getItem('loggedIn')) {
                window.location.replace('/login');
            } 
            $('ul.nav li a').each(function () {
                if (this.href === path) {
                    $(this).parent('li').addClass('active');
                }
            })                    
    });   
        
     $("#cancel").on("click", cancel);

    function cancel() {
        window.location.href = '/category/show';
    }
    

    $('#categoryForm').submit(function(e){
        showLoader();
        e.preventDefault();
        
        var name = $('#name').val();
        var active = $('input:radio[name=active]:checked').val();
        if(!name){
            hideLoader();
            toastr.error("Please enter the category name");
            return false;
        } 

        if(!active){
            hideLoader();
             toastr.error("Please select the active status");
            return false;
        }
        var data = {
            category: {name: name, active: active }
        }
        $.ajax({
            type: 'POST',
            url: '/category/create',
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Category Added Successfully");
                window.location.replace("/category/show");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.responseJSON.message);
            }
        })

    })

    $('#editForm').submit(function (e) {
        showLoader();
        e.preventDefault();        
        var id = '<%= data._id %>';
        var inValid = /[^a-zA-Z0-9\-\/]/;
        var name = $('#name').val();
        var active = $('input:radio[name=active]:checked').val();
        if (!name) {
            hideLoader();
            toastr.error("Please enter the category name");
            return false;
        }
        
        if (!active) {
            hideLoader();
            toastr.error("Please select the active status");
            return false;
        }
        var data = {
            category: { name: name, active: active }
        }
        $.ajax({
            type: 'PUT',
            url: '/category/update/' + id,
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Category Updated Successfully");
                window.location.replace("/category/show");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.responseJSON.message);
            }
        })

        })
</script>
</html>