<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .green-bg {
            background-color: green;
            border-radius: 20px;
        }

        .red-bg {
            background-color: red;
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <%- include header.ejs %>
        <div class="container">
            <h2>Posts</h2>
            <div class="row" style="float:right">
                <div class="btn-group">
                    <a href="/post/create" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Post
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <% if(posts.length == 0) { %>
                    <h3>No Posts Available, Add one..</h3>
                <% } else { %>                    
                <table class="table table-hover">
                    <tr>
                        <th width="5%">#</th>
                        <th width="35%">Title</th>
                        <th width="20%">Categories</th>
                        <th width="15%">Modified</th>
                        <th width="10%">Active</th>
                        <th width="20%">Options</th>
                    </tr>
                    <% posts.forEach(function(post, index){ %>
                        <tr>
                            <td><%= index + 1 %> </td>
                            <td><%= post.title.length > 60 ? post.title.substring(0, 55) + '..' : post.title  %></td>
                            <td><%= post.categories %></td>
                            <td><%= post.modified.toDateString() %> <%= post.modified.toLocaleTimeString() %></td>
                            <% if(post.active) { %>
                                <td><div class="green-bg" style="width: 60px;height: 30px;"></div></td>
                            <% } else { %>
                                <td>
                                    <div class="red-bg" style="width: 60px;height: 30px;"></div>
                                </td>
                            <% } %>
                            <td>
                                <p>
                                    <a href="/post/edit/<%= post._id %>" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="/post/delete/<%= post._id %>" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    <% }) %>                    
                </table>
                <% } %>
            </div>
        </div>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var path = window.location.href;        
        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            } else {
                $('#dashboard').addClass('active');
            }
        })
    });
</script>

</html>