<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/header.css">    
    <link rel="stylesheet" href="/modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="/modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css">    
</head>

<body>
    <%- include header.ejs %>
    <div class="container">
    <div class="row" id="row-main">
    <% if(data.title) { %>    
        <div class="col-md-12" id="content">
            <h2>Update Post</h2>            
                <form id="updateForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <label for="">Select Categories</label>
                            </td>
                            <td>
                                <div class="dropdown-container" id="dropdown-container">
                                    <div class="dropdown-button noselect">
                                        <div class="dropdown-label">Categories</div>
                                        <div class="dropdown-quantity">(
                                            <span class="quantity">Any</span>)</div>
                                    </div>
                                    <div class="dropdown-list" id="dropdown-list" style="display: none;">
                                        <input type="search" class="form-control dropdown-search" placeholder="Search states" id="dropdown-search" style="padding-left: 10px;"
                                        />
                                        <ul>
                                            <% categories.forEach(function(cat){ %>                                                                                                
                                                <% if(data.categories.indexOf(cat.name) > -1) { %>                                                                                                
                                                <li class="list-cat">
                                                    <input class="select-check" name="<%=cat.name %>" value="<%=cat.name %>" checked="true" type="checkbox">
                                                        <label for="<%=cat.name %>">
                                                            <%= cat.name %>
                                                        </label>
                                                </li>
                                                <% } else { %>
                                                    <li class="list-cat">
                                                        <input class="select-check" name="<%=cat.name %>" value="<%=cat.name %>" type="checkbox">
                                                            <label for="<%=cat.name %>">
                                                                <%= cat.name %>
                                                            </label>
                                                    </li>
                                                <% } %>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" >Upload Image</label>
                            </td>
                            <td>
                                <input id="fileupload" type="file" name="files" data-url="/post/image">
                                <p style="font-size:12;margin-top:5px;">Upload a new image only if you want to replace the old image..</p>
                            </td>
                            <input type="hidden" id="url" value=<%=data.image %>>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Title</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" value="<%=data.title %>" placeholder="Title">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Notification URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="notify" class="form-control" value="<%=data.notifyUrl %>" placeholder="Notification URL">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Apply URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="apply" class="form-control" value="<%=data.applyUrl %>" placeholder="Apply URL">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Active</label>
                            </td>
                            <td>
                                <input type="checkbox" name="active" id="active" <%= data.active ? 'checked' : '' %>>
                                <label for="">Make Post Active</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Push Notification</label>
                            </td>
                            <td>
                                <input type="checkbox" name="push" id="push">
                                <label for="">Send</label>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <div style="margin-left: 10px;width:100%;margin:0 auto;">
                        <button type="button" class="btn btn-warning" onclick="collapse()">Click for Demo</button>
                    </div>
                    <br>
                    <br>
                    <div class="form-group" style="padding-left:10px;">
                        <label for="">Post Content</label>
                        <div id="edit">
                        </div>
                    </div>
                    <p style="width:20%">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update" />
                        <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel">
                    </p>                    
                </form>
                <br>  
            </div>   
            <div class="col-md-4 collapsed" id="sidebar">
                <div>
                    <div id="mobile" class="mobile">
                        <div id="mob-content">
                            <div class="mob-image">
                                <img class="post-image" id="mob-image" alt="No image" crossOrigin="Anonymous" />
                            </div>
                            <div class="mob-content">
                                <p class="title-text" id="mob-title"></p>
                                <div id="mob-text" style="height: 80%;">
            
                                </div>
                                <div class="buttons-row">
                                    <div class="column">
                                        <button class="btn btn-info">Apply</button>
                                    </div>
                                    <div class="column">
                                        <button class="btn btn-info">Notify</button>
                                    </div>
                                    <div class="column">
                                        <button class="btn btn-info">Share</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <button type="button" class="btn btn-info" onclick="demoCheck()">Refresh</button>
                </div>
            </div>
    <% } else { %>    
        <div class="col-md-12" id="content">
            <h2>Create Post</h2>                          
                <form id="postForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <label for="">Select Categories</label>
                            </td>
                            <td>
                                <div class="dropdown-container" id="dropdown-container">
                                    <div class="dropdown-button noselect">
                                        <div class="dropdown-label">Categories</div>
                                        <div class="dropdown-quantity">(
                                            <span class="quantity">Any</span>)</div>
                                    </div>
                                    <div class="dropdown-list" id="dropdown-list" style="display: none;">
                                        <input type="search" class="form-control dropdown-search" placeholder="Search states" id="dropdown-search" style="padding-left: 10px;"
                                        />
                                        <ul>
                                            <% categories.forEach(function(cat){ %>
                                                <% console.log(cat); %>
                                                <li class="list-cat">
                                                    <input class="select-check" name="<%= cat.name %>" value="<%= cat.name %>" type="checkbox">
                                                        <label for="<%=cat.name %>">
                                                            <%= cat.name %>
                                                        </label>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Upload Image</label>
                            </td>
                            <td>
                                <input id="fileupload" type="file" name="files" data-url="/post/image">
                            </td>
                            <input type="hidden" id="url">
                        </tr>
                        <tr>
                            <td>
                                <label for="">Title</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" placeholder="Title">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Notification URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="notify" class="form-control" placeholder="Notification URL">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Apply URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="apply" class="form-control" placeholder="Apply URL">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Active</label>
                            </td>
                            <td>
                                <input type="checkbox" name="active" id="active">
                                <label for="">Make Post Active</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Push Notification</label>
                            </td>
                            <td>
                                <input type="checkbox" name="push" id="push">
                                <label for="">Send</label>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <div style="margin-left: 10px;width:100%;margin:0 auto;">
                        <button type="button" class="btn btn-warning" onclick="collapse()">Click for Demo</button>
                    </div>
                    <br>
                    <br>
                    <div class="form-group" style="padding-left:10px;">
                        <label for="">Post Content</label>
                        <div id="edit">
                        </div>
                    </div>                    
                    <p style="width:20%">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="POST" />
                        <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel">
                    </p>
                </form>
                <br>              
        </div>    
        <div class="col-md-4 collapsed" id="sidebar">
            <div>
                <div id="mobile" class="mobile">
                    <div id="mob-content">
                        <div class="mob-image">
                            <img class="post-image" id="mob-image" alt="No image" crossOrigin="Anonymous" />
                        </div>
                        <div class="mob-content">
                            <p class="title-text" id="mob-title"></p>
                            <div id="mob-text" style="height: 80%;">
        
                            </div>
                            <div class="buttons-row">
                                <div class="column">
                                    <button class="btn btn-info">Apply</button>
                                </div>
                                <div class="column">
                                    <button class="btn btn-info">Notify</button>
                                </div>
                                <div class="column">
                                    <button class="btn btn-info">Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <button type="button" class="btn btn-info" onclick="demoCheck()">Refresh</button>
            </div>
        </div>
    <% } %>    
    </div>
    </div>    
    <div id="myid" style="display:none"></div>    
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.ui.widget.js"></script>
<script src="/assets/js/jquery.iframe-transport.js"></script>
<script src="/assets/js/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.min.js"></script>
<script src="/modules/toastr/build/toastr.min.js"></script>
<script>
    $("#cancel").on("click", cancel);

    function cancel() {
        window.location.href = '/posts/1';
    }

    function decode(text) {
        var e = document.getElementById('myid');
        var decoded = $('#myid').html(text).text();
        return decoded;
    }

    function collapse() {
        $("#sidebar").toggleClass("collapsed");
        $("#content").toggleClass("col-md-12 col-md-8");
        demoCheck();
    }

    function demoCheck() {
        var title = $('#title').val();
        if(title & title.length > 50){
            title = title.substring(0, 50);
        }
        var url = $('#url').val();
        var body = $('#edit').summernote('code');
        if(!title || !url || !body){
            toastr.info('Please add all the inputs to check');
        }
        $('#mob-image').attr('src', url);
        $('#mob-title').html(title);
        $('#mob-text').html(body);
    }

    $('#dropdown-list').toggle();
    $('#dropdown-container')
        .on('input', '#dropdown-search', function () {
            var target = $(this);
            var search = target.val().toLowerCase();

            if (!search) {
                $('.list-cat').show();
                return false;
            }

            $('.list-cat').each(function () {
                var text = $(this).text().toLowerCase();
                var match = text.indexOf(search) > -1;
                $(this).toggle(match);
            });
        })
        .on('change', '.select-check', function () {
            var numChecked = $('input:checkbox.select-check:checked').length;
            $('.quantity').text(numChecked || 'Any');
        });

    $(document).ready(function () {
        var path = window.location.href;

        if (!window.localStorage.getItem('loggedIn')) {
            window.location.replace('/login');
        } 

        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            } else {
                $('#dashboard').addClass('active');
            }
        });
       
         $('#fileupload').fileupload({ 
             dataType: 'json', 
             progress: function (e, data) {
                 var progress = parseInt(data.loaded / data.total * 100, 10);
                 showLoader();
             },
             done: function (e, data) { 
                 hideLoader();
                if(data.result){
                    if(data.result.response == 200){
                        document.getElementById("url").value = data.result.name;
                        toastr.success("File uploaded successfully");
                    } else {
                        toastr.error("Please upload a new file");
                    }
                }
            } 
        });

         $('div#edit').summernote({
            height: 300
        })

        $('#edit').summernote('code', decode('<%=data.body%>'));
    });

    $('#postForm').submit(function(e) {
        if(confirm('Are you sure you want to post?') != true){
            return false;
        }
        showLoader();
        e.preventDefault();
        var checkboxValues = [];
        var formData = {};
        $('input.select-check:checkbox:checked').each(function () {
            checkboxValues.push($(this).val());
        });
        if (checkboxValues.length == 0) {
            hideLoader();
            toastr.error("Please select categories");
            return false;
        }
        var url = $('#url').val();
        if(!url){
            hideLoader();
            toastr.error("Please upload a new image");
            return false;
        }         
        var title = $('#title').val();
        if(!title){
            hideLoader();
            toastr.error("Please enter a title");
            return false;
        } 
        if (!$('#edit').summernote('code')) {
            hideLoader();
            toastr.error("Please enter Ad content");
            return false;
        }   
        var active = $('#active').is(":checked");
        var push = $('#push').is(":checked");
        var notify = $('#notify').val(); 
        var apply = $('#apply').val();        
        formData.notifyUrl = notify;
        formData.applyUrl = apply;
        formData.body = $('#edit').summernote('code');
        formData.categories = checkboxValues;
        formData.image = url;
        formData.title = title;
        formData.active = active;
        formData.push = push;
        var data = {
            post: formData
        }             
        $.ajax({
            type: 'POST',
            url: '/post/create',
            data: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'},
            success: function(response){
                hideLoader();
                toastr.success("Post Created Successfully");
                window.location.replace("/posts/1");
            },
            error: function(response){
                hideLoader();
                toastr.error(response.responseJSON.message);
            }
        })
    });

    $('#updateForm').submit(function(e){
        if (confirm('Are you sure you want to post?') != true) {
            return false;
        }
        showLoader();
        e.preventDefault();
        var checkboxValues = [];
        var formData = {};
        $('input.select-check:checkbox:checked').each(function () {
            checkboxValues.push($(this).val());
        });
        if (checkboxValues.length == 0) {
            hideLoader();
            toastr.error("Please select categories");
            return false;
        }
        var url = $('#url').val();
        if (!url) {
            hideLoader();
            toastr.error("Please upload a new image");
            return false;
        }
        var title = $('#title').val();
        if (!title) {
            hideLoader();
            toastr.error("Please enter a title");
            return false;
        }
         if (!$('#edit').summernote('code')) {
            hideLoader();
            toastr.error("Please enter Ad content");
            return false;
        }   
        var active = $('#active').is(":checked");
        var push = $('#push').is(":checked");
        var notify = $('#notify').val();
        var apply = $('#apply').val();
        formData.notifyUrl = notify;
        formData.applyUrl = apply;
        formData.body = $('#edit').summernote('code');
        formData.categories = checkboxValues;
        formData.image = url;
        formData.title = title;
        formData.active = active;
        formData.push = push;
        var data = {
            post: formData
        }
        $.ajax({
            type: 'PUT',
            url: '/post/create/'+ "<%= data._id %>",
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Post Updated Successfully");
                window.location.replace("/posts/1");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.responseJSON.message);
            }
        })
    });           
</script>

</html>