<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="/assets/editor/jquery-te-1.4.0.css">
</head>

<body>
    <%- include header.ejs %>
        <div class="container">
            <h2>Create Post</h2>
            <div class="row">
                <form id="postForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <label for="">Select Categories</label>
                            </td>
                            <td>
                                <div class="dropdown-container" id="dropdown-container">
                                    <div class="dropdown-button noselect">
                                        <div class="dropdown-label">Categories</div>
                                        <div class="dropdown-quantity">(
                                            <span class="quantity">Any</span>)</div>
                                    </div>
                                    <div class="dropdown-list" id="dropdown-list" style="display: none;">
                                        <input type="search" class="form-control dropdown-search" placeholder="Search states" id="dropdown-search" style="padding-left: 10px;"
                                        />
                                        <ul>
                                            <% categories.forEach(function(cat){ %>
                                                <li class="list-cat">
                                                    <input class="select-check" name=<%=cat.name.toString() %> value=<%=cat.name.toString() %> type="checkbox">
                                                        <label for=<%=cat.name %>>
                                                            <%= cat.name %>
                                                        </label>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" >Upload Image</label>
                            </td>
                            <td>
                                <input id="fileupload" type="file" name="files" data-url="/post/image">
                            </td>
                            <input type="hidden" id="url">
                        </tr>
                        <tr>
                            <td>
                                <label for="">Title</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" placeholder="Title">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Notification URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="notify" class="form-control" placeholder="Notification URL">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Apply URL</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="apply" class="form-control" placeholder="Apply URL">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group" style="padding-left:10px;">
                        <label for="">Post Content</label>
                        <textarea name="textarea" id="content" class="jqte-test"></textarea>
                    </div>
                    <p>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="POST" />
                    </p>
                </form>
            </div>
        </div>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/editor/jquery-te-1.4.0.min.js"></script>
<script src="/assets/js/jquery.ui.widget.js"></script>
<script src="/assets/js/jquery.iframe-transport.js"></script>
<script src="/assets/js/jquery.fileupload.js"></script>
<script>
    var file;
    $('#dropdown-list').toggle();
    $('#dropdown-container')
        .on('input', '#dropdown-search', function () {
            var target = $(this);
            var search = target.val().toLowerCase();

            if (!search) {
                $('.list-cat').show();
                return false;
            }

            $('.list-cat').each(function () {
                var text = $(this).text().toLowerCase();
                var match = text.indexOf(search) > -1;
                $(this).toggle(match);
            });
        })
        .on('change', '.select-check', function () {
            var numChecked = $('input:checkbox.select-check:checked').length;
            $('.quantity').text(numChecked || 'Any');
        });

    $(document).ready(function () {
        var path = window.location.href;
        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            }
        });
       
         $('#fileupload').fileupload({ 
             dataType: 'json', 
             done: function (e, data) { 
                if(data.result){
                    if(data.result.response == 200){
                        document.getElementById("url").value = data.result.name;
                        alert("File uploaded successfully", $('#url').val());
                    } else {
                        alert("Please upload a new file");
                    }
                }
            } 
        });

        $('.jqte-test').jqte();
    });

    $('#postForm').submit(function(e) {
        e.preventDefault();
        var checkboxValues = [];
        var formData = {};
        $('input.select-check:checkbox:checked').each(function () {
            checkboxValues.push($(this).val());
        });
        if (checkboxValues.length == 0) {
            alert("Please select categories");
            return false;
        }
        var url = $('#url').val();
        if(!url){
            alert("Please upload a new image");
            return false;
        }         
        var title = $('#title').val();
        if(!title){
            alert("Please enter a title");
            return false;
        } 
        var content = $('#content').val();
        if(!content){
            alert("Please enter post content");
            return false;
        } 
        var notify = $('#notify').val(); 
        var apply = $('#apply').val();        
        formData.notifyUrl = notify;
        formData.applyUrl = apply;
        formData.body = content;
        formData.categories = checkboxValues;
        formData.image = url;
        formData.title = title;
        formData.active = true;
        var data = {
            post: formData
        }             
        $.ajax({
            type: 'POST',
            url: '/post/create',
            data: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'},
            success: function(response){
                console.log(response);
                window.location.replace("/");
            },
            error: function(response){
                alert(response.responseJSON.message);
            }
        })
    });
</script>

</html>