<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">   
    <link rel="stylesheet" href="/assets/header.css">
    <link rel="stylesheet" href="/modules/toastr/build/toastr.min.css">
</head>

<body>
    <%- include header.ejs %>
        <div class="container">
            <h2>Create Category</h2>
            <div class="row">
                <form id="pushForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <input type="radio" name="choice" id="location" value="location">
                                <label for="">Location</label>
                            </td>
                            <td>
                                <div class="dropdown-container" id="dropdown-container">
                                    <div class="dropdown-button noselect">
                                        <div class="dropdown-label">Categories</div>
                                        <div class="dropdown-quantity">(<span class="quantity">Any</span>)</div>
                                    </div>
                                    <div class="dropdown-list" id="dropdown-list" style="display: none;">
                                        <input type="search" class="form-control dropdown-search" placeholder="Search states" id="dropdown-search" style="padding-left: 10px;"
                                        />
                                        <ul>
                                            <% options.forEach(function(option){ %>                                                                                        
                                                <li class="list-cat">
                                                    <input class="select-check" name="<%= option.name %>" value="<%= option.name %>" type="checkbox">
                                                    <label for="<%=option.name %>">
                                                        <%= option.name %>
                                                    </label>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>                       
                    </table>                                        
                    <p class="or">Or</p>
                    <table id="post-table">
                        <tr>
                            <td>
                                <input type="radio" name="choice" id="plat" value="platform">
                                <label for="">Platform</label>
                            </td>
                            <td>
                                <select id="platform" class="form-control">
                                <option value="all">ALL</option>
                                <option value="android">Android</option>
                                <option value="ios">IOS</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr>
                            <td>
                                <label for="">Title</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" placeholder="Push Notification Title">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Body</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="body" class="form-control" placeholder="Push Notification Body">
                                </div>
                            </td>
                        </tr>
                        <input type="hidden" id="option">
                    </table>
                    <p style="width:20%">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Push Notifications" />
                        <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel">
                    </p>
                </form>
            </div>
        </div>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/modules/toastr/build/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        var path = window.location.href;

        if (!window.localStorage.getItem('loggedIn')) {
            window.location.replace('/login');
        } 

        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            }
        });  

        $('#platform').change(function () {
            if(!$('#plat').is(':checked')){
                $('#dropdown-list').toggle();                                    
                $('.quantity').text(0);   
                $('#plat').prop('checked', true);
                $('#option').val("platform");            
            }
        });

        $('#dropdown-list').toggle();
        $('#dropdown-container')
            .on('input', '#dropdown-search', function () {
                var target = $(this);
                var search = target.val().toLowerCase();

                if (!search) {
                    $('.list-cat').show();
                    return false;
                }

                $('.list-cat').each(function () {
                    var text = $(this).text().toLowerCase();
                    var match = text.indexOf(search) > -1;
                    $(this).toggle(match);
                });
            })
            .on('change', '.select-check', function () {                
                var numChecked = $('input:checkbox.select-check:checked').length;
                if(numChecked > 0){
                    $('#location').attr('checked', true);
                    $('#platform').attr('disabled', 'disabled');
                    $('#option').val("location");
                } else {
                    $('#platform').removeAttr('disabled'); 
                    $('#option').val("");   
                }
                $('.quantity').text(numChecked || 'Any');
            });
        
        $('input[type=radio][name=choice]').change(function () {
            if(this.value == "platform"){
                if ($('#dropdown-list').css('display') != 'none') {
                    $('#dropdown-list').toggle();
                }                
                $('#platform').removeAttr('disabled');
                $('.quantity').text(0);
                $('#option').val("platform");
            } else {                
                var numChecked = $('input:checkbox.select-check:checked').length;
                $('.quantity').text(numChecked || 'Any');
                $('#platform').attr('disabled', 'disabled');
                if ($('#dropdown-list').css('display') == 'none') {
                    $('#dropdown-list').toggle();
                }                
                $('#option').val("location");
            }
        });
    });

    $("#cancel").on("click", cancel);

    function cancel() {
        window.location.href = '/posts/1';
    }

    $('#pushForm').submit(function(e){
        showLoader();
        e.preventDefault();
        var checkboxValues = [];
        if($('#option').val() == "platform"){            
            var type = "platform";
            var selected = $("#platform option:selected").val()            
        } else if($('#option').val() == "location"){            
            var type = "location";
            $('input.select-check:checkbox:checked').each(function () {
                checkboxValues.push($(this).val());
            });
            if (checkboxValues.length == 0) {
                hideLoader();
                toastr.error("Please select categories");
                return false;
            }
            var selected = checkboxValues;
        }
        var title = $('#title').val();
        var body = $('#body').val();

        if (type != "platform" && type != "location") {
            hideLoader();
            toastr.error("Please select either location or platform!");
            return false;
        }        

        console.log(type, selected)

        if(!body){
            hideLoader();
            toastr.error("Body is required to send push");
            return false;
        }       

        var data = {
            push : {
                type: type,
                value: selected,
                title: title,
                body: body
            }
        }

         $.ajax({
            type: 'POST',
            url: '/notification/send',
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                hideLoader();
                toastr.success("Push sent successfully");
                window.location.replace("/posts/1");
            },
            error: function (response) {
                hideLoader();
                toastr.error(response.responseJSON.message);
            }
        }); 
    })
   
</script>

</html>